<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elk.exam.mapper.PageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.elk.exam.model.Page">
        <id column="page_id" property="pageId" />
        <result column="page_name" property="pageName" />
        <result column="page_description" property="pageDescription" />
        <result column="action_ids" property="actionIds" />
    </resultMap>

</mapper>
