<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.elk.exam.mapper.QuestionLevelMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.elk.exam.model.QuestionLevel">
        <id column="question_level_id" property="questionLevelId" />
        <result column="question_level_name" property="questionLevelName" />
        <result column="question_level_description" property="questionLevelDescription" />
    </resultMap>

</mapper>
